header.app{
    position:absolute;
}
.appWrap{
    width:100%;
    min-height:1000px;
    padding-top:70px;
}
.appWrap .core{
    background-image:url('./images/img_app_bg_01.jpg');
    background-size: cover;
    width:100%;
    height:76px;
    color:white;
    cursor:pointer;
    text-align:center;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid white;
}
.appWrap .core img{
    padding-left:50px;
}
.appWrap .core p{
    position:absolute;
    left:20px;
    top:30px;
    font-family: "PretendardM";
    font-size:14px;
}
.appWrap .worship{
    background-image:url('./images/img_app_bg_02.jpg');
    background-size: cover;
    background-position-y: center;
    width:100%;
    height:183px;
    color:white;
    cursor:pointer;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    border-bottom:1px solid white;
}
.appWrap .worship p{
    font-family: "PretendardM";
    font-size:14px;
}
.appWrap .worship p:nth-of-type(2){
    font-family: "PretendardSB";
    font-size:22px;
    padding:8px 0;
}
.appWrap .btns {
    display: flex;
}
.appWrap .btns a{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:white;
    width:34%;
    height:76px;
    border-right:1px solid white;
    border-bottom:1px solid white;
    font-family: "PretendardSB";
}
.appWrap .btns a img{
    padding-right:5px;
}
.appWrap .btns.green a{
    background-color: var(--color-point-green);
}
.appWrap .btns.green a:last-of-type{
    border-right:0;
}
.appWrap .btns.black a{
    background-color:var(--black-color);
}
.appWrap .btns.black a:last-of-type{
    border-right:0;
}
.appWrap .links{
    padding-top: 20px;
}
.appWrap .links a{
    display:flex;
    align-items:center;
    padding: 12px 20px;
    border-bottom:1px solid #e2e2e2;
}
.appWrap .links .thumb{
    width:64px;
    height:64px;
    background: linear-gradient(270deg, #5E5E5E 0%, rgba(0, 0, 0, 0.82) 100%, rgba(83.94, 83.94, 83.94, 0.02) 100%, #4B4B4B 100%);
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-right:16px;
    flex-shrink: 0;
}
.appWrap .links .thumb.pink{
    background:none;
    background-color: #ed8d8d;
}
.appWrap .links .thumb.green{
    background:none;
    background-color: var(--color-point-green);
}
.appWrap .links .text{
    font-family: "PretendardM";
    font-size:17px;
    line-height:20px;
}